/* ====== GENERALES ====== */
:root {
  --rojo-color: #c96868;
  --amarillo-color: #FADFA1;
  --fondo-color: #fff4ea;
  --celeste-color: #7eacb5;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/* ====== HEADER ====== */
.conteiner_principalHeader {
  width: 100%;
  height: 8vh;
  background-color: var(--rojo-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.conteiner_contentHeader{
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.headerSearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5vh;
}
.inputHeader {
  border-radius: 0.4rem;
  border: none;
  padding: 1rem;
  outline: none;
  height: 2vh;
  width: 20vw;
  font-size: 0.9rem;
}
.button__header {
  border: 1px solid var(--amarillo-color);
  background-color: var(--amarillo-color);
  border-radius: 0.4rem;
  padding: 0.5rem;
  transition: 0.2s ease;
}
.button__header:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--amarillo-color);
}
.buttonSearch ,
.buttonAdd {
  /* width: 7vw; */
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.8rem 0.2rem 1rem;
}
.buttonAdd {
  width: 16vw;
}
/* ====== MAIN ====== */
.conteiner_view {
  display: grid;
  /* grid-template-columns: 0.2fr 0.8fr; */
  grid-template-columns: 0.25fr 1fr; 
}
/* ====== STORE ====== */
.store {
  max-height: 92vh;
  overflow-y: auto;
  width: 100%;
}
.sectionStorage {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerProductStore {
  width: 90%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(1fr, 400px)); 
  gap: 3vh;

}
.containerTitleSection{
  text-transform: upperCase;
  color: var(--celeste-color);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}
.conteinerTargetItem {
  background-color: var(--amarillo-color);
  border-radius: 0.5rem;
  width: 100%;
  min-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .2s ease;
}
.conteinerTargetItem:hover {
  cursor: pointer;
  transform: scale(1.06);
}
.conteinerTargetItem h2{
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0.4rem;
}
.conteinerTargetItem img{
  width: 100%;
  min-width: 220px;
  height: 30vh;
  /* object-fit: cover; */
  border-radius: 0.5rem;
}
.TargetProps {
  padding: 0.5rem 1.5rem 1rem;
}
.TargetProps p{
  font-size: 0.8rem;
}

/* ====== LISTASIDE ====== */
.listAside {
  background-color: var(--fondo-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 92vh;
  overflow-y: auto;
}
.listAside h2 {
  display: flex;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.listAside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.listAside ul li {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 4rem;
  border-radius: 0.2rem;
  width: auto; /* Asegúrate de que los elementos no ocupen todo el ancho por defecto */
  transition: width 0.3s ease-in-out, background-color 0.3s ease; /* Animación para hacer que el cambio de ancho sea suave */
}
.listAside ul li:hover {
  cursor: pointer;
}
.liActive {
  background-color: var(--rojo-color);
  color: white;
  width: 100%; /* La categoría activa se extiende al 100% del contenedor */
}

/* ====== POPUP ====== */
.popUpContainer__principal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}
.popUpContainer {
  background-color: white;
  width: 50vw;
  /* height: 50vh; */
  box-shadow: 4px 2px 6px 6px #cacaca;
  border-radius: 1rem;
  padding: 2rem;
}
.containerTitlePopUp{
  text-align: center;
  font-size: 2vh;
  margin-bottom: 1rem;
}
.containerInpusts__popUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.containerInpusts__popUp input,
.containerInpusts__popUp select{
  width: 60%;
  border: 1px solid #cacaca;
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.containerButtonsPopUp {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.buttonPopUp {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2vh;
  color: white;
}
.buttonPopUp:hover {
  cursor:pointer;
}
.delete {
  background-color: var(--rojo-color);
}
.accept {
  background-color: rgb(130, 194, 110);
}
.cancel {
  background-color: #b3b2b2;
}



/*scroll bar */
::-webkit-scrollbar{
  width: 0.8rem;
  background-color: var(--fondo-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--celeste-color);
  border-radius: 0.4rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #6a959e;
}

/* 568 */

@media screen and (min-width: 1300px) {
  .containerProductStore {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media screen and (max-width: 1300px) {
  .containerProductStore {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas más pequeñas */
  }
  .buttonAdd {
    width: 18vw;
  }
}

@media screen and (max-width: 768px) {
  .containerProductStore {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }
  .conteiner_view {
    grid-template-columns: 1fr;
  }
  .listAside {
    height: auto;
    position: relative;
    order: -1; /* Mueve el listAside arriba en pantallas pequeñas */
  }
  .store {
    max-height: none; 
  }
  .listAside ul {
    width: 100%;
    text-align: center;
  }

  .conteiner_principalHeader {
    height: 16vh;
  }
  .conteiner_contentHeader {
    width: 100%;
    flex-direction: column; 
    align-items: center;
    gap: 0.5rem;
  }
  .buttonAdd {
    width: 35vw;
  }
  .inputHeader {
    width: 40vw;
  }
}

@media screen and (max-width: 480px) {
  .containerProductStore {
    grid-template-columns: repeat(1, 1fr); /* 1 columna para pantallas muy pequeñas */
  }
}